name: SuperKart MLOps Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-mlops-pipeline:
    runs-on: ubuntu-latest
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
      HF_USERNAME: ${{ vars.HF_USERNAME }}
      DATASET_REPO_NAME: "SuperKart-data"
      MODEL_REPO_NAME: "SuperKart-model"
      SPACE_NAME: "SuperKart-sales-prediction-app" 

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0  # Downloads full history (Fixes 'shallow update' error)
        lfs: true       # Enables Large File Storage (Fixes 'lfs-check' error)
    
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: 1. Register Data
      run: python src/register_data.py
      
    - name: 2. Process Data
      run: python src/process_data.py
      
    - name: 3. Train & Evaluate
      run: python src/train.py
      
    - name: Build Docker Image (Test Build)
      run: docker build -t superkart-app .
      
    - name: Push to Hugging Face Spaces
      run: |
        # Configure Git to recognize the bot
        git config --global user.email "action@github.com"
        git config --global user.name "GitHub Action"
        
        # Add Hugging Face Space as a remote repo
        # REPLACE 'YOUR_USERNAME/SPACE_NAME' below!
        git remote add space https://oauth2:$HF_TOKEN@huggingface.co/spaces/$HF_USERNAME/$SPACE_NAME
        
        # Push code to Space to trigger deployment
        git push space main:main --force